body {
  background-color: rgba(254, 249, 231, 0.5);
}

#list {
  display: grid;
  justify-content: center;
}
h2,
h3 {
  text-align: center;
}

.uploadOuter {
  text-align: center;
  padding: 20px;
}

.dragBox {
  width: 600px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-size: x-large;
  line-height: 200px;
  border: 4px dashed #ccc;
  border-radius: 0.5rem;
  border-color: blue;
  display: inline-block;
  transition: transform 0.3s;
  background-color: aliceblue;
  cursor: pointer;
}
.dragBox:hover {
  box-shadow: 0 0 0 0.15rem rgb(150, 200, 200);
  border: 4px solid #ccc;
  border-radius: 0.5rem;
  border-color: blue;
  }

.dragBox input[type="file"] {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}
.draging {
  transform: scale(1.1);
}
#preview {
  text-align: center;
}
#preview img {
  max-width:fit-content;
}



#submit-btn-div{
  display: flex;
  justify-content: center;
}

/* #paste-button{
  background: rgba(120, 76, 255, 1) ;
} */
#submit-button {
  background: rgba(34, 139, 34, 1);
}

#remove_bg-btn{
  background: rgba(150, 50, 134, 1);

}

.button {
border: none;
cursor: pointer;
padding: 9px 22px;
margin: 20px;
font-size: 15px;
height: 40px;
font-weight: 400;
color: #fff;
text-align: center;
border-radius: 50px;
transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}
.button:hover {
box-shadow: 0 0 0 0.15rem rgb(150, 200, 200);
}