<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/error_page.css')}}" >
    <link rel="shortcut icon" href="{{ url_for('static', filename = './images/favicon/favicon.png') }}" type="image/x-icon">

    <title>Error occured</title>
</head>
<body>
    <h1>
        Something went wrong!
    </h1>
    <h2>
        Possible reasons could be:
    </h2>
    <ul>
        <li>
            You have selected wrong file format (only jpg, jpeg and png image format is allowed)
        </li>
        <li>
            Or you have not selected any file at all.
        </li>
        <li>
            Or mathpix server error. 
        </li>
    </ul>

</body>
</html>